body {
    text-align:center;
    font-family:sans-serif;
    background-color:aliceblue;
}

p {
    color:pink;
}

footer {
    background-color:gray;
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    padding-top:20px;
    padding-bottom:30px;
    font-size:14px;
}

footer a {
    text-decoration: none;
}

.footer-left {
    float:left;
    padding-left:15px;
}

.footer-right {
    float:right;
    padding-right:25px;
}

header {
    background-color: gray;
    padding:10px;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
}

header a {
    text-decoration:none; 
}

.header-left {
    float:left;
    padding-left:20px;
}
.header-right {
    float:right;
    padding-right:20px;
}
main {
    background-color: aliceblue;
    position:absolute;
    width:100%;
    top:10em;
    left:0px;
    padding-top:auto;
    padding-bottom:auto;
}

.logo-area {
    background-color:aliceblue;
    position:relative;
}

.logo-area img {
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-top:90px;
    padding-bottom:30px;
}

.search-bar {
    position:relative;
    background-color: aliceblue;
    padding:20px;
    padding-top:10px;
    margin-bottom:20px;
}

#search-bar-input {
    display:inline-block;
    height:2em;
    width:28.3%;
    padding:4px;
    padding-left:20px;
    border-radius:15px;
    margin-bottom:8px;
}

input[type="button"]
{
    cursor:pointer;
}